#Provide your authentication server base url
#This will call your Node.js backend to generate tokens securely
REACT_APP_AUTH_URL=http://192.168.43.2:3000

#For production, update this to your deployed server:
#REACT_APP_AUTH_URL=https://your-production-server.com

#DO NOT use static token in production!
#Always use an authentication server for security